<div class="row">
  <p>
  <div class="col-xs-12">
    <form>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="...to do" #taskInput>
        <div class="input-group-append">
          <button 
            class="btn btn-outline-secondary" 
            type="button" 
            style="backgroundColor: #88f2a8;"
            (click)="onAddTask();">
            Add
          </button>
        </div>
      </div>
    </form>
  </div>
</div>